body, html {
  --bs-font-sans-serif: "Atkinson Hyperlegible", sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  height: 100%;
  position: relative;
}

#foreground {
  max-width: 60rem;
  box-shadow: 2px 2px rgba(var(--bs-tertiary-color-rgb), 0.25);
}

.nav-link {
  line-height: 1rem;
  padding-bottom: 0.05rem;
  border: .1rem solid var(--bs-body-color);
  box-shadow: 2px 2px rgba(var(--bs-tertiary-color-rgb), 0.25);
}

[aria-current="page"] {
    color: var(--bs-tertiary-bg) !important;
    background-color: var(--bs-tertiary-color);
}

.nav-link:hover {
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-body-color);
}

#title-block-header {
  margin-top: 1em;
  margin-bottom: 2em;
  font-weight: bold;
}

.hideul {
  text-decoration: none;
}

.w3cvalid {
  border:0;
  width:88px;
  height:31px;
}

@media (prefers-color-scheme: light) {
  #dark-mode-toggle:not(:checked) ~ #background #dark-mode-icon {
    display: none;
  }

  #dark-mode-toggle:checked ~ #background #light-mode-icon {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  #dark-mode-toggle:not(:checked) ~ #background #light-mode-icon {
    display: none;
  }

  #dark-mode-toggle:checked ~ #background #dark-mode-icon {
    display: none;
  }
}

/* Based on https://endtimes.dev/no-javascript-dark-mode-toggle/ */
/*!
 * Bootstrap  v5.3.3 (https://getbootstrap.com/)
 * Copyright 2011-2024 The Bootstrap Authors
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
@media (prefers-color-scheme: light) {
  #dark-mode-toggle:checked ~ #background {
    color: var(--bs-body-color) !important;
    color-scheme: dark !important;
    --bs-body-color: #dee2e6 !important;
    --bs-body-color-rgb: 222, 226, 230 !important;
    --bs-body-bg: #212529 !important;
    --bs-body-bg-rgb: 33, 37, 41 !important;
    --bs-emphasis-color: #fff !important;
    --bs-emphasis-color-rgb: 255, 255, 255 !important;
    --bs-secondary-color: rgba(222, 226, 230, 0.75) !important;
    --bs-secondary-color-rgb: 222, 226, 230 !important;
    --bs-secondary-bg: #343a40 !important;
    --bs-secondary-bg-rgb: 52, 58, 64 !important;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5) !important;
    --bs-tertiary-color-rgb: 222, 226, 230 !important;
    --bs-tertiary-bg: #2b3035 !important;
    --bs-tertiary-bg-rgb: 43, 48, 53 !important;
    --bs-primary-text-emphasis: #6ea8fe !important;
    --bs-secondary-text-emphasis: #a7acb1 !important;
    --bs-success-text-emphasis: #75b798 !important;
    --bs-info-text-emphasis: #6edff6 !important;
    --bs-warning-text-emphasis: #ffda6a !important;
    --bs-danger-text-emphasis: #ea868f !important;
    --bs-light-text-emphasis: #f8f9fa !important;
    --bs-dark-text-emphasis: #dee2e6 !important;
    --bs-primary-bg-subtle: #031633 !important;
    --bs-secondary-bg-subtle: #161719 !important;
    --bs-success-bg-subtle: #051b11 !important;
    --bs-info-bg-subtle: #032830 !important;
    --bs-warning-bg-subtle: #332701 !important;
    --bs-danger-bg-subtle: #2c0b0e !important;
    --bs-light-bg-subtle: #343a40 !important;
    --bs-dark-bg-subtle: #1a1d20 !important;
    --bs-primary-border-subtle: #084298 !important;
    --bs-secondary-border-subtle: #41464b !important;
    --bs-success-border-subtle: #0f5132 !important;
    --bs-info-border-subtle: #087990 !important;
    --bs-warning-border-subtle: #997404 !important;
    --bs-danger-border-subtle: #842029 !important;
    --bs-light-border-subtle: #495057 !important;
    --bs-dark-border-subtle: #343a40 !important;
    --bs-heading-color: inherit !important;
    --bs-link-color: #6ea8fe !important;
    --bs-link-hover-color: #8bb9fe !important;
    --bs-link-color-rgb: 110, 168, 254 !important;
    --bs-link-hover-color-rgb: 139, 185, 254 !important;
    --bs-code-color: #e685b5 !important;
    --bs-highlight-color: #dee2e6 !important;
    --bs-highlight-bg: #664d03 !important;
    --bs-border-color: #495057 !important;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15) !important;
    --bs-form-valid-color: #75b798 !important;
    --bs-form-valid-border-color: #75b798 !important;
    --bs-form-invalid-color: #ea868f !important;
    --bs-form-invalid-border-color: #ea868f !important;
  }

  #dark-mode-toggle:checked ~ #background .navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

@media (prefers-color-scheme: dark) {
  #dark-mode-toggle:not(:checked) ~ #background {
    color: var(--bs-body-color) !important;
    color-scheme: dark !important;
    --bs-body-color: #dee2e6 !important;
    --bs-body-color-rgb: 222, 226, 230 !important;
    --bs-body-bg: #212529 !important;
    --bs-body-bg-rgb: 33, 37, 41 !important;
    --bs-emphasis-color: #fff !important;
    --bs-emphasis-color-rgb: 255, 255, 255 !important;
    --bs-secondary-color: rgba(222, 226, 230, 0.75) !important;
    --bs-secondary-color-rgb: 222, 226, 230 !important;
    --bs-secondary-bg: #343a40 !important;
    --bs-secondary-bg-rgb: 52, 58, 64 !important;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5) !important;
    --bs-tertiary-color-rgb: 222, 226, 230 !important;
    --bs-tertiary-bg: #2b3035 !important;
    --bs-tertiary-bg-rgb: 43, 48, 53 !important;
    --bs-primary-text-emphasis: #6ea8fe !important;
    --bs-secondary-text-emphasis: #a7acb1 !important;
    --bs-success-text-emphasis: #75b798 !important;
    --bs-info-text-emphasis: #6edff6 !important;
    --bs-warning-text-emphasis: #ffda6a !important;
    --bs-danger-text-emphasis: #ea868f !important;
    --bs-light-text-emphasis: #f8f9fa !important;
    --bs-dark-text-emphasis: #dee2e6 !important;
    --bs-primary-bg-subtle: #031633 !important;
    --bs-secondary-bg-subtle: #161719 !important;
    --bs-success-bg-subtle: #051b11 !important;
    --bs-info-bg-subtle: #032830 !important;
    --bs-warning-bg-subtle: #332701 !important;
    --bs-danger-bg-subtle: #2c0b0e !important;
    --bs-light-bg-subtle: #343a40 !important;
    --bs-dark-bg-subtle: #1a1d20 !important;
    --bs-primary-border-subtle: #084298 !important;
    --bs-secondary-border-subtle: #41464b !important;
    --bs-success-border-subtle: #0f5132 !important;
    --bs-info-border-subtle: #087990 !important;
    --bs-warning-border-subtle: #997404 !important;
    --bs-danger-border-subtle: #842029 !important;
    --bs-light-border-subtle: #495057 !important;
    --bs-dark-border-subtle: #343a40 !important;
    --bs-heading-color: inherit !important;
    --bs-link-color: #6ea8fe !important;
    --bs-link-hover-color: #8bb9fe !important;
    --bs-link-color-rgb: 110, 168, 254 !important;
    --bs-link-hover-color-rgb: 139, 185, 254 !important;
    --bs-code-color: #e685b5 !important;
    --bs-highlight-color: #dee2e6 !important;
    --bs-highlight-bg: #664d03 !important;
    --bs-border-color: #495057 !important;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15) !important;
    --bs-form-valid-color: #75b798 !important;
    --bs-form-valid-border-color: #75b798 !important;
    --bs-form-invalid-color: #ea868f !important;
    --bs-form-invalid-border-color: #ea868f !important;
  }

  #dark-mode-toggle:not(:checked) ~ #background .navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
