  <input type="checkbox" id="dark-mode-toggle" hidden>
  <div id="background" class="h-100 overflow-x-hidden bg-secondary-subtle">
    <div id="foreground" class="mx-auto my-4 pt-2 pb-1 px-3 bg-body border border-secondary">
      <header>
        <div class="d-flex align-items-center pt-2">
          <picture>
            <source srcset="assets/icon.avif" type="image/avif">
            <source srcset="assets/icon.webp" type="image/webp">
            <img height="64" class="pe-2" src="assets/icon.png" alt="Programming Club logo">
          </picture>
          <h1 class="me-auto">Programming Club</h1>
          <label for="dark-mode-toggle" class="btn btn-link mb-2 d-none d-sm-block" tabindex="0" onclick="ToggleDarkMode()" onkeydown="ToggleDarkMode()">
            <svg class="bi bg-warning light-mode-icon"><title>Sun icon</title></svg>
            <svg class="bi bg-white dark-mode-icon"><title>Moon icon</title></svg>
          </label>
        </div>
        <!-- TODO: Decide if .navbar-expand-sm would be fine -->
        <nav class="navbar navbar-expand-md" role="navigation">
          <div class="container-fluid ps-2 pe-0 pe-sm-2">
            <input type="checkbox" id="navbar-pages-toggle" class="navbar-toggler-state" hidden>
            <label for="navbar-pages-toggle" class="navbar-toggler mt-2" tabindex="0" aria-haspopup="true" aria-controls="navbar-pages" aria-expanded="false" aria-label="Toggle header navigation with pages">
              <span class="navbar-toggler-icon"></span>
            </label>
            <label for="dark-mode-toggle" class="btn btn-link mt-2 d-block d-sm-none" tabindex="0" onclick="ToggleDarkMode()" onkeydown="ToggleDarkMode()">
              <svg class="bi text-bg-warning light-mode-icon"><title>Sun icon</title></svg>
              <svg class="bi bg-white dark-mode-icon"><title>Moon icon</title></svg>
            </label>
            <div id="navbar-pages" class="navbar-collapse overflow-hidden d-block pt-3">
              <ul class="navbar-nav nav-justified w-100 mb-2 mb-md-0" aria-label="submenu">%NAVBAR_ITEMS%</ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="container">