  <input id="dark-mode-toggle" type="checkbox" class="btn-check" name="dark-mode-toggle">
  <div id="background" class="h-100 overflow-x-hidden bg-secondary-subtle">
    <div id="foreground" class="mx-auto my-4 pt-2 pb-1 px-3 bg-body border border-secondary">
      <header>
        <div class="d-flex align-items-center py-2">
          <img height="64" class="pe-2"
            src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Coat_of_Arms_of_Australia.svg"
            alt="Where our logo will be"
          />
          <h1 class="me-auto">Programming Club</h1>
          <!-- TODO: Fix button hitting into title on mobile -->
          <!-- TODO: Support toggling darking mode without js -->
          <button type="button" class="btn btn-secondary my-2 my-sm-0 me-2" onclick="ToggleDarkMode()">
            DM JS
          </button>
          <label class="btn btn-secondary my-2 my-sm-0" for="dark-mode-toggle">
            DM CSS
          </label>
        </div>
        <!-- TODO: Fix first item hitting into toggler on mobile -->
        <!-- TODO: Support toggling menu without js on mobile -->
        <nav class="navbar navbar-expand-md">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav-justified w-100 mb-2 mb-md-0">%NAVBAR_ITEMS%</ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="container">