  <input id="dark-mode-toggle" type="checkbox" class="btn-check" name="dark-mode-toggle" aria-label="Internal checkbox used to support dark mode">
  <div id="background" class="h-100 overflow-x-hidden bg-secondary-subtle">
    <div id="foreground" class="mx-auto my-4 pt-2 pb-1 px-3 bg-body border border-secondary">
      <header>
        <div class="d-flex align-items-center pt-2">
          <img height="64" class="pe-2" src="assets/icon.png" alt="Programming Club logo">
          <h1 class="me-auto">Programming Club</h1>
          <label class="btn mb-2 d-none d-sm-block" for="dark-mode-toggle" onclick="ToggleDarkMode()">
            <div class="bi text-bg-warning light-mode-icon"></div>
            <div class="bi bg-white dark-mode-icon"></div>
          </label>
        </div>
        <!-- TODO: Support toggling menu without js on mobile -->
        <!-- TODO: Decide if .navbar-expand-sm would be fine -->
        <nav class="navbar navbar-expand-md">
          <div class="container-fluid ps-2 pe-0 pe-sm-2">
            <button type="button" class="navbar-toggler mt-2" data-bs-toggle="collapse" data-bs-target="#navbarPages" aria-controls="navbarPages" aria-expanded="false" aria-label="Toggle header navigation with pages">
              <span class="navbar-toggler-icon"></span>
            </button>
            <label class="btn mt-2 d-block d-sm-none" for="dark-mode-toggle" onclick="ToggleDarkMode()">
              <div class="bi text-bg-warning light-mode-icon"></div>
              <div class="bi bg-white dark-mode-icon"></div>
            </label>
            <div id="navbarPages" class="collapse navbar-collapse pt-3">
              <ul class="navbar-nav nav-justified w-100 mb-2 mb-md-0">%NAVBAR_ITEMS%</ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="container">